.home {
    padding: 200px 20px;
    min-height: 100%;
    width: 100%;
}

.searchbox {
    text-align: center;
    padding: 4rem 0;
}

.searchbox label {
    display: block;
    letter-spacing: 1px;
    opacity: 75%;
}

.searchbox input {
    font-size: 2rem;
    padding: 4px 7px;
    margin: 0 auto;
    display: block;

}