.home {
    background-color: var(--primary-inverse);
    min-height: 100%;
    width: 100%;
    display: flex;
}

.articles {
    width: 100%;
    padding-bottom: 300px;
}

.spacer {
    height: 1px;
    margin-top: var(--header-height);
}

.leftSidebar {
    padding: var(--header-height) 5px 0 5px;
    color: var(--text);
    display: none;
}

.leftSidebar ul {
    position: fixed;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.leftSidebar ul li {
    display: block;
    margin: 0;
    padding: 3px 25px 3px 5px;
    background: rgba(255, 255, 255, .1);
    margin-bottom: 1px;
    border-left: solid 2px transparent;
}

.leftSidebar ul li:hover {
    background: rgba(255, 255, 255, .3);
    border-left: solid 2px var(--primary);
}

@media only screen and (min-width: 700px) {
    .leftSidebar {
        width: 300px;
        display: inherit;
    }
}