.searchbox {
    background-color: var(--primary-inverse);
    border: solid 2px var(--primary);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin: 5px;
    margin-bottom: 10px;
    max-height: 68px;
    box-shadow: 0, 0, 20px, rgba(0, 0, 0, .2);
    border: solid 1px rgba(255, 255, 255, .1)
}

@media only screen and (min-width: 700px) {
    .searchbox {

    }
}

.searchbox input {
    font-size: 1.5rem;
    color: var(--text);
    background: none;
    border: none;
    outline: none;
    padding: 7px;
    width: 100%;
}

::placeholder { /* Most modern browsers support this now. */
    color: var(--text);
    opacity: 20%;
}


.clear {
    border-radius: 7px;
    border: none;
    background-color: var(--primary);
    color: rgba(255, 255, 255, .7);
    font-size: 28px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.clear:hover {
    background-color: #000000;
}