.podcast {
    background-color: var(--primary-inverse);
    padding: var(--header-height) 0;
    min-height: 100%;
    width: 100%;
    text-align: center;
    color: var(--text);
}

.podcastLink {
    background-color: var(--primary-inverse);
    padding: 10px 3px;
    text-decoration: none;
}

.podcastLink a {
    color: black !important;
    font-size: 120%;
}

.spacer {
    height: 1px;
    margin-top: var(--header-height);
}