.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 10px;
    background: #3e474d;
    z-index: 50;
}

.header nav {
    float: right;
    font-size: 100%;
}

.header nav a {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    min-width: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    color: #FFF;
    will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
    background: rgba(0, 0, 0, 0.2);
}

.header nav a.active {
    background: rgba(0, 0, 0, 0.4);
}

.logo {
    width: 100%;
    max-height: 90px;
    margin-top: 25px;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.2s;
    transition-property: transform;
}

.logo:hover, .logo:focus, .logo:active {
    transform: scale(1.05);
}

svg {
    fill: white;
}