.spokeArticle {
    margin: 0 auto 1px auto;
    padding: 0.75rem;
    background: var(--primary-inverse);
    color: var(--text);
    max-width: 700px;
    opacity: .9;
    border-radius: 7px;
    text-align: left;
}

.spokeArticle h2 {
    margin: 3px 0;
    padding: 0;
    border-bottom: 1px solid var(--black-10);
}

.spokeArticle p {
    margin: 0;
    padding: 6px 0 0 12px;
}

.spokeArticle a {
    color: var(--text);
    text-decoration: none;
}

.spokeArticle:hover {
    opacity: 1;
}

.spokeArticle .category {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0 0 0 0.25rem;
    border-radius: 4px;
    background-color: var(--primary);
    color: white;
    float: right;
}

.spokeArticle .bottomline span {
    padding: 1px 5px;
    font-size: 0.85rem;
    margin-right: 0.5rem;
    background-color: var(--primary);
    opacity: .9;
    border-radius: 4px;
}

.listened {
    opacity: 50%;
    border-left: solid 6px var(--text);
    padding-left: 1rem;
    margin: 0 -0.5rem;
    color: var(--text);
}

.listened a {
    color: var(--text);
}

.listened .box a {
    background: var(--primary);
}

.box {
    padding: 1rem 0 0 0;
}

.box a {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-right: 8px;
    background: var(--primary);
    opacity: .9;
    color: white;
    border-radius: 4px;
    letter-spacing: -1px;
    border: solid 1px rgba(0, 0, 0, .2);
}

.box a:hover {
    opacity: 1;
}

.flex {
    display: flex;
    max-width: 700px;
}

.flex a {
    flex-grow: 1;
    text-align: center;
    line-height: 40px;
}

.flex a img {
    height: 25px;
    margin: 0.75rem auto -0.5rem auto;
    display: block;
}

@media only screen and (max-width: 700px) {
    .box a {
        opacity: 1;
    }

    .spokeArticle {
        opacity: 1;
    }
}