.spokeArticle {
    margin: 0 0 1px 0;
    padding: 0.75rem;
    background: var(--primary-inverse);
    color: var(--text);
}

.spokeArticle h2 {
    margin: 2px 0;
    padding: 0;
}

.spokeArticle p {
    margin: 0;
    padding: 0;
}

.spokeArticle a {
    color: var(--text);
    text-decoration: none;
}

.spokeArticle:hover {
    background: rgba(0, 0, 0, .05)
}

.listened {
    opacity: 50%;
    border-left: solid 6px var(--text);
    padding-left: 1rem;
    margin: 0 -0.5rem;
    color: var(--text);
}

.listened a {
    color: var(--text);
}

.listened .box a {
    background: var(--primary);
}

.box {
    padding: 1rem 0;
}

.box a {
    display: inline-block;
    margin-top: 6px;
    margin-right: 8px;
    background: var(--primary);
    color: white;
    border-radius: 4px;
    letter-spacing: -1px;
}

.box a:hover {
    background: rgba(0, 0, 0, .4);
}

.flex {
    display: flex;
    max-width: 750px;
}

.flex a {
    flex-grow: 1;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.flex a img {
    height: 25px;
    margin: 13px 5px -8px 0;
}

.play {
    background-image: url('/assets/icons/play.svg');
    background-position: center;
}