.SpokeAudioPlayer {
    background: --var(primaryColor);
    border: dashed 2px red;
}

.SpokeAudioPlayerSpeed {
    border: 0;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, .75);
    padding: 9px;
    border-radius: 6px;
    font-size: 12px;
}

.SpokeAudioPlayerSpeed:hover {
    background-color: rgba(255, 255, 255, .5);
}

.SpokeAudioCurrentSpeed {
    padding: 0 3px;
    font-size: 10px;
}